<h1 class="my-4">Categories</h1>
        <div class="list-group">
          <button class="list-group-item tex"  (click)="setValue('Engineering')" >Engineering</button>
          <button class="list-group-item tex"  (click)="setValue('Medical')" >Medical</button>
          <button class="list-group-item tex"  (click)="setValue('Competitve')" >Competitive</button>
          <button class="list-group-item tex"  (click)="setValue('Computers And Tech')" >Computers And Tech</button>
          <button class="list-group-item tex"  (click)="setValue('Self Development')" >Self Development</button>
          <button class="list-group-item tex"  (click)="setValue('Biographies')" >Biographies</button>
          <button class="list-group-item tex"  (click)="setValue('Entertainment')" >Entertainment</button>
          <button class="list-group-item tex"  (click)="setValue('Literature And Fiction')" >Literature And Fiction</button>
          <button class="list-group-item tex"  (click)="setValue('SciFi And Fantasy')" >SciFi And Fantasy</button>
          <button class="list-group-item tex"  (click)="setValue('Travel')" >Travel</button>
          <button class="list-group-item tex"  (click)="setValue('Others')" >Others</button>
        </div>