<h1 class="my-4">Categories</h1>
        <div class="list-group">
          <a href="#" class="list-group-item tex">Engineering</a>
          <a href="#" class="list-group-item tex">Medical</a>
          <a href="#" class="list-group-item tex">Competitive</a>
          <a href="#" class="list-group-item tex">Computers And Tech</a>
          <a href="#" class="list-group-item tex">Self Development</a>
          <a href="#" class="list-group-item tex">Biographies</a>
          <a href="#" class="list-group-item tex">Entertainment</a>
          <a href="#" class="list-group-item tex">Literature And Fiction</a>
          <a href="#" class="list-group-item tex">SciFi And Fantasy</a>
          <a href="#" class="list-group-item tex">Travel</a>
          <a href="#" class="list-group-item tex">Others</a>
        </div>